* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #383838;
    color: #ffffff;
}

.navbar {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    position: fixed;
    font-size: 35px;
    width: 100%;
}

.transform {
    transition: transform 500ms ease;
}

.transform:hover {
    transform: scale(1.02);
}

.content-container {
    margin-top: 115px;
}