* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 16px;
}

.transform {
    transition: transform 500ms ease;
}

.transform:hover {
    transform: scale(1.02);
}

.content-container {
    margin-top: 115px;
}
